<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link href="../css/default.css" rel="stylesheet" type="text/css">
    <link href="../css/nav.css" rel="stylesheet" type="text/css" />
    <link href="../css/chat.css" rel="stylesheet" type="text/css" />
</head>
<body id="chatPage">
    <header>

        <a href="/savedmatches">terug</a>

        <a href="#">
            <img src="" alt="">
            <p>User</p>
        </a>

        <a href=""></a>
        
    </header>

    <article class="chatField">

        <section class="messageField">

            <% for (let i = 0;i < messages.length;i++) { %>
                <% if (messages[i].userId == user._id) { %>
                  <div class="outgoing">
                    <div class="metadata">
                      <span class="author">You at</span>
                      <span class="date"><%= messages[i].date %></span>
                    </div>
                    <p><%= messages[i].message %></p>
                  </div>            
                <% } else { %>
                  <div class="incoming">
                    <div class="metadata">
                      <span class="author"><%= otherUser.firstName %> at</span>
                      <span class="date"><%= messages[i].date %></span>
                    </div>
                    <p><%= messages[i].message %></p>
                  </div>                
                <% } %>
              <% } %>
            

        </section>
        
    <form action="/message" method="POST">
        <p id="feedback"></p>
        
        <fieldset>
            <input type="hidden" name="userId">
            <input type="hidden" name="chatId">
            <input type="text" name="message" placeholder="type your message...">
            <button type="submit">Send</button>
        </fieldset>
    </form>
    </article>
    
    <script src="../scripts/chat.js"></script>
</body>
</html>