<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link href="../css/chat.css" rel="stylesheet" type="text/css" />
<body id="chatPage">
    <header>

        <a href="/savedmatches">terug</a>

        <a href="#">
            <img src="" alt="">
            <p><%= title %></p>
        </a>

        <a href=""></a>
        
    </header>

    <article class="chatField">

        <section class="messageField">

            <% for (let i = 0;i < messages.length;i++) { %>
                <% if (messages[i].userId == user._id) { %>
                  <div class="outgoing">
                    <div class="metadata">
                      <span class="author">You at</span>
                      <span class="date"><%= messages[i].date %></span>
                    </div>
                    <p><%= messages[i].message %></p>
                  </div>            
                <% } else { %>
                  <div class="incoming">
                    <div class="metadata">
                      <span class="author"><%= otherUser.Username %> at</span>
                      <span class="date"><%= messages[i].date %></span>
                    </div>
                    <p><%= messages[i].message %></p>
                  </div>                
                <% } %>
              <% } %>
            

        </section>
        
    <form action="/message" method="POST" autocomplete="off">
        <p id="typing"></p>
        
        <fieldset>
            <input type="hidden" name="userId" value="<%= user._id %>">
            <input type="hidden" name="chatId" value="<%= id %>">
            <input type="text" name="message" placeholder="type your message...">
            <button type="submit">Send</button>
        </fieldset>
    </form>
    </article>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" integrity="sha256-bQmrZe4yPnQrLTY+1gYylfNMBuGfnT/HKsCGX+9Xuqo=" crossorigin="anonymous"></script>
    <script src="../scripts/chat.js"></script>
</body>
</html>