<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
        <title>Edit profile</title>
        <link rel="stylesheet" href="./css/form.css" type="text/css" />
    </head>
    <body>
        <header>
            <h1>Edit profile</h1>
        </header>
        <main>
            <a id="back" href="/profile">Back to my profile</a>
            <form
                action="/saveAccount"
                method="POST"
                enctype="multipart/form-data"
            >
                <input type="file" name="myfile" />
                <!-- <input type="file" name="profileImage" id="profileImage" /> -->
                <label for="Firstname">Your name</label>

                <input
                    type="text"
                    placeholder="First name"
                    id="Firstname"
                    name="Firstname"
                    value="<%= data.Firstname %>"
                    required
                />
                <input
                    type="text"
                    placeholder="Last name"
                    id="Lastname"
                    name="Lastname"
                    value="<%= data.Lastname %>"
                    required
                />

                <label for="Username">Current username</label>
                <input
                    type="text"
                    placeholder="Example: Shady Shay"
                    id="Username"
                    name="Username"
                    value="<%= data.Username %>"
                    required
                />
                <label for="Birthday">Date of birth</label>
                <input
                    type="date"
                    placeholder="dd-mm-jj"
                    id="Birthday"
                    name="Birthday"
                    value="<%= data.Birthday %>"
                    required
                />
                <label for="myGender">My gender</label>
                <select name="Gender" id="myGender">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="nonBin">Non-binary</option>
                </select>

                <label for="genreInput">
                    I want to macth on the following genres</label
                >
                <section>
                    <input
                        type="text"
                        id="genreInput"
                        placeholder="Add your favourite Genre"
                    />
                    <button
                        for="genreInput"
                        id="genreInputButton"
                        type="button"
                    >
                        +
                    </button>
                    <ul id="genreContainer">
                        <% for (var i=0; i < data.FavGenres.length; i++) { %>
                        <input
                            value="<%= data.FavGenres[i] %>"
                            type="text"
                            name="FavGenres"
                            readonly
                            class="createdGenres"
                            onclick="remove(this)"
                        />
                        <% } %>
                        <li class="matchGenre"></li>
                    </ul>
                </section>
                <label for="songInput"
                    >I want to match on the following songs</label
                >
                <section>
                    <input
                        type="text"
                        id="songInput"
                        placeholder="Search on artist + title"
                    />
                    <button id="songInputButton" type="button">+</button>
                    <ul id="musicContainer">
                        <% for (var i=0; i < data.FavSongs.length; i++) { %>
                        <input
                            value="<%= data.FavSongs[i].title %> <% if (Array.isArray(data.FavSongs[i].artist) == true) { %> <%= data.FavSongs[i].artist[0] %> <% } else { %> <%= data.FavSongs[i].artist %> <% } %>"
                            type="text"
                            name="FavSongs"
                            readonly
                            class="createdSongs"
                            onclick="remove(this)"
                        />
                        <% } %>
                        <li class="matchSong"></li>
                    </ul>
                </section>
                <label for="Email">Change your email here</label>
                <input
                    type="email"
                    name="Email"
                    id="Email"
                    placeholder="someone@mailadres.com"
                    value="<%= data.Email %>"
                    required
                />
                <label for="userPassword">Set a new password</label>
                <input
                    type="password"
                    name="Password"
                    id="Password"
                    value="<%= data.Password %>"
                    placeholder="Enter in your new password here"
                />
                <button type="submit" id="formSubmit">Save changes</button>
                <button
                    type="button"
                    id="deletProfileButton"
                    onclick="confirmDeletemessage()"
                >
                    Delete profile
                </button>
            </form>
        </main>
        <footer></footer>
    </body>
    <script src="./scripts/dynamic_form.js"></script>
</html>
