<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
        <link href="../css/profile.css" rel="stylesheet" type="text/css" />
       
    </head>
    <body>
        <header>
            <%- include('../partials/header') %>
            <%- include('../partials/nav') %>
        </header>

        <main>
            <div id="profileImage"></div>
            <article>
                <section id="profileCard">
                    <a href="/editprofile">Edit profile</a>
                    <h1><%= data.Firstname %> <%= data.Lastname %></h1>
                    <h2><span>Gender:</span> <%= data.Gender %></h2>
                    <h2><span>Age:</span> <%= data.Age %></h2>
                </section>
                <section  id="profileGenreList">
                    <h4>Favourite Genres</h4>
                    <ul>
                        <% for (var i=0; i < data.FavGenres.length; i++) { %>
                        <li>
                            <p><%= data.FavGenres[i] %></p>
                        </li>
                        <% } %>
                    </ul>
                </section>

                <section id="profileSongList">
                    <h4>Favourite Music</h4>
                    <ul>
                        <% for (var i=0; i < data.FavSongs.length; i++) { %>
                        <li>
                            <a
                                href="<%= data.FavSongs[i].spotURL %>"
                                target="_blanc"
                            >
                                <img
                                    src="<%= data.FavSongs[i].coverURL %>"
                                    alt=""
                                />
                            
                            <div>
                                <h1>
                                    <%= data.FavSongs[i].title %>
                                </h1>
                                <h2>
                                    Artist: <%= data.FavSongs[i].artist %>
                                </h2>
                            </div>
                        </a>
                        </li>
                        <% } %>
                    </ul>
                </section>
            </article>
        </main>
        <footer></footer>
    </body>
</html>
